<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img class="navbar-brand  logo"  src="/image/logo2.png">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto custom-nav-link">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/homepage">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/servicesPage">Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productPage">Товары</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <div class="profile">
                            <!--                            <a th:href="@{/profile/}">-->
                            <!--                                <img th:src="@{${image}}" class="img-fluid  min-profile-image" alt="Profile Image"/>-->
                            <!--                            </a>-->
                            <div class="">
                                <a class="logout-btn" th:href="@{/logout}">Выйти</a>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:unless="${#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link" href="/login">Авторизация</a>
                    </th:block>
                </li>
                <th:block th:unless="${#authorization.expression('isAuthenticated()')}">
                    <li class="nav-item">
                        <a class="nav-link" href="/registration">Регистрация</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>
<div class="container content">
    <div class="row mt-5">
        <h1 class="d-flex justify-content-center">Сбросить пароль</h1>
        <div class="col-6 mx-auto emailNextForm">
            <form >
                <div class="mb-2">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email" placeholder="Пожалуйста, введите свой адрес электронной почты" required>
                </div>
                <button type="submit"  class="btn" id="emailNextChange">Далее</button>
            </form>
        </div>
        <div class="col-6 mx-auto hide changePasswordForm">
            <form id="passwordForm">
                <div class="pb-3">
                    <label class="form-label" for="currentPassword">Текущий пароль:</label>
                    <input class="form-control" type="password" id="currentPassword" name="currentPassword" required>
                </div>
                <div class="pb-3">
                    <label class="form-label" for="newPassword">Новый пароль:</label>
                    <input class="form-control" type="password" id="newPassword" name="newPassword" required>
                </div>
                <div class="pb-3">
                    <label class="form-label" for="confirmPassword">Подтвердите новый пароль:</label>
                    <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" required>
                </div>

                <div class="pb-3">
                    <label class="form-label" for="verificationCode">Код подтверждения:</label>
                    <input class="form-control" type="text" id="verificationCode" name="verificationCode" required>
                </div>
                <input type="hidden" id="hiddenEmail" name="email" value="">
                <button class="btn" type="submit">Сменить пароль</button>
            </form>

        </div>
    </div>
</div>

<div class="bg-light mt-5">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Главная</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">О нас</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Цены</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Вопросы</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Контакты</a></li>
        </ul>
        <p class="text-center text-muted">© 2024 Танго</p>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>


    $(document).ready(function () {

        var email = document.querySelector('#email');
        var emailNextForm = document.querySelector('.emailNextForm');
        var changePasswordForm = document.querySelector('.changePasswordForm');
        var hiddenEmailInput = document.querySelector('#hiddenEmail');
        $(document).ready(function () {


            $('#emailNextChange').click(function (event) {
                event.preventDefault();
                emailNextForm.classList.add('hide');
                changePasswordForm.classList.remove('hide');
                hiddenEmailInput.value = $('#email').val();
                $.ajax({
                    url: '/changePassword/send-verification-code',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        email: email.value
                    }),
                    success: function (data) {

                        toastr.success('Код подтверждения отправлен на вашу почту !');
                    },
                    error: function (error) {
                        var errorMessage = JSON.parse(error.responseText).error;
                        toastr.error(errorMessage);
                    }
                });
            });



            $('#passwordForm').submit(function (event) {
                event.preventDefault();
                var currentPassword = $('#currentPassword').val();
                var newPassword = $('#newPassword').val();
                var confirmNewPassword = $('#confirmPassword').val();
                var verificationCode = $('#verificationCode').val();
                console.log(hiddenEmailInput.value);
                if (newPassword !== confirmNewPassword) {
                    toastr.error('Новый пароль и подтверждение пароля не совпадают!');
                    return;
                }

                $.ajax({
                    url: '/changePassword/verify-and-change-password',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        currentPassword: currentPassword,
                        newPassword: newPassword,
                        confirmNewPassword: confirmNewPassword,
                        verificationCode: verificationCode,
                        email: hiddenEmailInput.value
                    }),
                    success: function (data) {
                        if (data.success) {
                            toastr.success('Пароль успешно изменен!');
                        } else {
                            toastr.error('Ошибка при смене пароля: ' + data.message);
                        }
                    },
                    error: function (error) {
                        console.error('Ошибка при смене пароля:', error);
                    }
                });
            });
        });
    });

</script>

</body>
</html>

