<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ServicePage </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link rel="stylesheet" href="/static/homepage.css" type="text/css">
    <script src="../static/order.js" type="text/javascript" th:inline="javascript"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img class="navbar-brand logo"  src="/image/logo2.png">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto custom-nav-link">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/homepage">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/servicesPage">Услуги</a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="#">Мастера</a>-->
                <!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/productPage">Товары</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <!-- Проверяем, авторизован ли пользователь -->
                    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <div class="profile">
                            <a th:href="@{/profile}">
                                <img th:src="@{${image}}" class="img-fluid  min-profile-image" alt="Profile Image"/>
                            </a>
                            <div class="profile-options">
                                <a class="logout-btn" th:href="@{/logout}">Выйти</a>
                            </div>
                        </div>
                    </th:block>
                    <!-- Если пользователь не авторизован -->
                    <th:block th:unless="${#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link" href="/login">Авторизация</a>
                    </th:block>
                </li>
                <!-- Если пользователь не авторизован -->
                <th:block th:unless="${#authorization.expression('isAuthenticated()')}">
                    <li class="nav-item">
                        <a class="nav-link" href="/registration">Регистрация</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>


<div th:replace="~{offcanvas :: copy}"></div>

<div class="container content">
    <div class="container d-flex flex-column align-items-center " id="ProductList">
        <div th:each="categorie : ${categoriesProd}" class="row ptb20 selection-box prodCat w-50"
             th:attr="data-category=${categorie.id_category}">

            <div class="col-6" th:text="${categorie.name_category}">
                <!-- Вывод названия категории -->
                Категория 1
            </div>
            <div class="col-6 text-end">
                <i class="bi bi-caret-down-fill"></i>
            </div>
            <!-- Вывод соответствующих услуг для текущей категории -->
            <div class="container hide productCat" th:attr="data-category-services=${categorie.id_category}">
                <div th:each="cat : ${cats}" th:if="${cat.id_category.id_category == categorie.id_category}">

                    <div class="card product-card flex-column" th:id="${cat.id_product_category}">
                        <div class="productImgCard">
                            <img th:src="${cat.id_product.productImage}" class="imgCard"
                                 alt="Изображение товара">
                        </div>
                        <div class="card-body select-product ">
                            <div class="productInfo">
                                <div class="productName">
                                    <a th:href="@{/product/{id}(id=${cat.id_product.id_product})}"
                                    ><h5 class="card-title"
                                         th:text="${cat.id_product.name_product}">
                                    </h5></a>
                                </div>
                                <!-- Вывод названия услуги -->


                                <input type="hidden" name="productPrice"
                                       th:value="${cat.id_product.price}">
                            </div>
                            <div class="productCheckbox">
                                <div class="priceProduct">
                                    <span> </span>
                                    <p class="pProductPrice"
                                       th:text="${#numbers.formatDecimal(cat.id_product.price, 0, 'COMMA', 0, 'POINT').replace(',', ' ')}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="descriptionProduct">
                            <p th:text="${cat.id_product.description}" class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Добавьте больше карточек услуг по аналогии -->
        <input type="hidden" name="totalDuration">
    </div>
    <button class="btn fixed-button" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Записаться
    </button>
</div>
<div class="bg-body-tertiary  fot">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 Company, Inc</p>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
</body>


</html>